<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>html dom  事件</title>
<meta name="description" content="">
<meta name="keywords" content="">
<script type="text/javascript" src="../argular.js"></script>
<script type="text/javascript">
	//ng-disabled 指令直接绑定应用程序数据到 HTML 的 disabled 属性。

	//ng-show 指令根据 value 的值来显示（隐藏）HTML 元素。
	//你可以使用表达式来计算布尔值（ true 或 false）:

	//ng-hide 指令用于隐藏或显示 HTML 元素。

</script>
</head>
<body>
    <!-- <div ng-app="" ng-init="myS=true">
    		<p><button ng-disabled="myS">点我!</button></p>
    
    		<p><input type="checkbox" ng-model="myS">按钮</p>
    
    		<p>{{ myS }}</p>
    	</div> -->

    	<!-- <div ng-app="">
    		例子2
    		<div ng-show="true">122323121</div>
    		<div ng-show="false">122323121ddddddddddddddd</div>
    	</div> -->

    	<div ng-app="" ng-init="count=1">
    		<button ng-click="count=count+1">ff</button>
    		<div>{{count}}</div>
    	</div>
</body>
</html>