<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>过滤器</title>
<meta name="description" content="">
<meta name="keywords" content="">
<script type="text/javascript" src="../argular.js"></script>
<script type="text/javascript">
	//过滤器可以使用一个管道字符（|）添加到表达式和指令中。
	//AngularJS 过滤器可用于转换数据：
		//currency	格式化数字为货币格式。
		//filter	从数组项中选择一个子集。
		//lowercase	格式化字符串为小写。
		//orderBy	根据某个表达式排列数组。
		//uppercase	格式化字符串为大写。

	/*angular.module("myApp",[]).controller("myC",function($scope){
		$scope.name="dshdj";
	})*/

	/*angular.module("myApp",[]).controller("myC",function($scope){
		$scope.price=0;
		$scope.num=0;
	})*/

	angular.module("myApp",[]).controller("myC",function($scope){
		$scope.names=[{name:"zfds",country:4},{name:"rwer",country:43},{name:"zfdgfgds",country:3}]
	})
</script>
</head>
<body>
    <!-- <div ng-app="myApp" ng-controller="myC">
    	<p>英文姓名:{{name | uppercase}}</p>
    </div> -->

    <!-- <div ng-app="myApp" ng-controller="myC">
    	<h2>货币格式化</h2>
    	<input type="text" name="" value="" ng-model="price">
    	<input type="text" name="" value="" ng-model="num">
    	<div>{{ (price*num) | currency}}</div>
    </div> -->

    <div ng-app="myApp" ng-controller="myC">

		<p><input type="text" ng-model="test"></p>

		<ul>
		  <li ng-repeat="x in names | filter:test | orderBy:'country'">
		    {{ (x.name | uppercase) + ', ' + x.country }}
		  </li>
		</ul>

	</div>
</body>
</html>