<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>argular_test1</title>
	<style type="text/css" media="screen">
		*{
			margin: 0;
			padding: 0;
		}
		::selection{ background:#c10000; color:#fff; }
        ::-moz-selection{ background:#c10000; color:#fff; }
        ::-webkit-selection { background:#c10000; color:#fff;}	
	</style>
	<script src="argular.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="myC">
		<input type="text" ng-model="person.name" placeholder="Enter your name" />
  		<h5>Hello {{ person.name }}</h5>
	 	<span>{{sta}}</span>{{clock}}
	 	<div ng-hide="wait">请稍后</div>
		<ul class="">
		   <li ng-repeat="program in programs">
		     <span play='play(program)' ng-model="program"></span>
		   </li> 
		</ul>

	 	<button ng-click="play()" class="button" ng-show="!playing">Play</button>
	  	<button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
	  	<div>Playing audio: <b>{{ playing }}</b></div>
	</div>
</body>
</html>